.page-wrapper {
  margin: 6.25rem 10.25rem 0 10.25rem;
}
.calc {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.loader {
  width: 40px;
  height: 40px;
}
.error {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #ebcccc;
  width: 180px;
  height: 33px;
}

.error-input {
  border: 1px solid #d9534f;
  box-sizing: border-box;
  border-radius: 4px;
  color: #d9534f;
}

.error-msg {
  font-size: 16px;
  line-height: 24px;
  width: 300px;
  color: #d9534f;
}

.number {
  width: 86px;
  height: 38px;
}

.sub {
  width: 189px;
}

.result {
  margin-top: 160px;
}

input.save-calc {
  width: 14px;
}

.save-calc {
  font-size: 12px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #373a3c;
}

h1 {
  font-size: 4.5rem;
  line-height: 4.9375rem;
  margin-bottom: 3.125rem;
  width: 672px;
  height: 79px;
}

h2 {
  font-size: 54px;
  line-height: 72px;
}

button {
  background-color: #0275d8 !important;
  font-size: 16px;
}

input {
  width: 10%;
}
